.App {
  text-align: center;
}
.background{
  background: #F0F1FF;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    bottom: 0;
}
::-webkit-scrollbar{
  background-color: white;
  width:8px;
}
::-webkit-scrollbar-thumb{
  background-color: #5757579d;
  border-radius: 10rem;
  cursor: pointer;
  height:2rem;
}
.css-1qes3pk-MuiStack-root{
  width:100%;
}
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
  padding:0.5rem !important;
}
.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root{
  padding:0 0.5rem !important;
}